/* Assignment 2 */

.two div{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 36px;
    /* border: 10px solid #ea1f64; */
    background-color: #eee;
    /* border-left-color: transparent; */
}

.two div::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid #ea1f64;
    border-left-color: transparent;
    transition: .5s;
}


.two div::after{
    content: "";
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 10px solid #2196f3;
    border-right-color: transparent;
    transition: .5s;
    transition-delay: .5s;
}


/* Assignment 3 */

.two div:hover::before{
    transform: rotate(1turn);
}

.two div:hover::after{
    transform: rotate(1turn);
}